* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Gilroy";
  src: url(./Radomir\ Tinkov\ -\ Gilroy-ExtraBold.otf);
}
html,
body {
  height: 100%;
  width: 100%;
}
#main {
  height: 100%;
  width: 100%;
  position: relative;
  background-image: linear-gradient(to right bottom, #535252 0%, #ebebeb9d 100%),
    radial-gradient(
      88% 271%,
      rgba(255, 255, 255, 0.438) 0%,
      rgba(254, 254, 254, 0.25) 1%,
      rgba(0, 0, 0, 0.25) 100%
    ),
    radial-gradient(
      50% 100%,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 100%
    );
  background-blend-mode: normal, lighten, soft-light;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  height: 90vh;
  width: 22vw;
  background-color: rgb(35, 35, 48);
  border-radius: 15px;
  overflow: hidden;
}
form input {
  width: 100%;
  height: 30vh;
  padding: 2vh 2vh;
  color: #c7c3c3;
  background-color: rgb(35, 35, 48);
  text-align: right;
  pointer-events: none;
  font-size: 11vh;
  border: none;
}
.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1.5vh;
}
button {
  margin-top: 1.3vh;
  background-color: rgb(232, 151, 20);
  border: none;
  cursor: pointer;
  font-size: 5vh;
  height: 10vh;
  width: 9.8vh;
  border-radius: 5px;
  color: #fff;
}
.btn-yellow {
  background-color: rgb(119, 119, 119);
  color: #fff;
}
.btn-equal {
  background-color: rgb(109, 109, 109);
}
.btn-clear {
  background-color: rgb(109, 109, 109);
}


@media (max-width:450px){
  .calculator{
    height: 85vh;
    width: 45vh;
  }
  form input {
    width: 100%;
    height: 30vh;
    padding: 1.5vh 1.5vh;
    color: #dedede;
    background-color: rgb(35, 35, 48);
    text-align: right;
    pointer-events: none;
    font-size: 8.3vh;
    border: none;
  }
  .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1vh;
  }
  button {
    margin-top: 1vh;
    background-color: rgb(232, 151, 20);
    border: none;
    cursor: pointer;
    font-size: 5vh;
    height: 9.3vh;
    width: 9.8vh;
    border-radius: 5px;
    color: #fff;
  }
}